.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#240046;
    width:340px;
    height:500px;
    border-radius: 25px;
  }
  .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
    font-family:Helvetica;
    border-radius: 50px;
  }
  #creditos{
    display:block;
    padding-top:20px;
    color:#fff;
    text-align: center;
    width:300px;
  }
  #resultado{
    display: inline-table;
    text-align: right;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
  }
  .historial{
    position: relative;
    margin:0;
    padding:20px;
    background: color #222;
    width:340px;
    height:500px;
    border-radius: 25px;
  }
  #resultado_h{
    background: color #ff00ff;
    display: scroll;
    text-align: right;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 500px;
    line-height: 100px;
    border-radius: 25px;
    overflow-y: scroll;
    float: right;
  }
  .cambios {
    font-size: 14px;
    background-color: #2d6a4f;
    list-style: none;
    width:100px;
    height: 80px;
    padding: 10px;
    border-radius: 25px;
  }
